<html>
  <header>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </header>
  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <b>Ve</b>terinary
      </div>
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>